{{ define "index" }}
{{ template "header" }}
<!-- <div class="container"> Primary Page Layout  –––––––––––––––––––––––––– -->
  {{ range $key, $value := . }}
  <div class="row">
    <h4>{{ $value.Title}}</h4>
  </div>
  <div class="row">
    {{ $value.Description }}
    <p>
      <a href="/show?id={{ $key }}">Подробнее &rarr;</a>
      <a style="float: right;" href="/write?id={{ $key }}">Редактировать &rarr;</a>
    </p>
  </div>
  {{ end }}
</div><!-- End Document   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{ template "footer" }}
{{ end }}
