{{ define "write" }}
{{ template "header" }}
<!-- <div class="container">   ушёл в header                                 -->
  <div class="row" style="margin-top: 1em;">
    <form  action="/save" method="post">
      <input type="hidden" name="id" value="{{.Id}}">
      <label>Title</label>
      <input  type="text" name="title" value="{{.Title}}">
      <label>Description</label>
      <textarea  name="description" >{{.Description}}</textarea>
      <label>Content</label>
      <textarea  name="content">{{.Content}}</textarea>
      <button type="submit" name="button" value="Submit">Запомнить</button>
    </form>
    {{ if .Id}}
      <p><a class="button" href="/delete?id={{.Id}}">Удалить</a></p>
    {{ end }}

  </div>
</div>
{{ template "footer" }}
{{ end }}
